<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Puppy</title>
  </head>
  <body>
    <h1>Enter Puppy Information Below</h1>
    <form>
      <p></p>
    </form>
  </body>
</html>